@page{
    margin: 0;
}
/**plyr*/

@-webkit-keyframes plyr-progress {
    to {
        background-position: 25px 0
    }
}

@keyframes plyr-progress {
    to {
        background-position: 25px 0
    }
}

.plyr {
    position: relative;
    max-width: 100%;
    min-width: 200px;
    font-family: Avenir, 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    direction: ltr
}

.plyr,
.plyr *,
.plyr ::after,
.plyr ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.plyr a,
.plyr button,
.plyr input,
.plyr label {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.plyr:focus {
    outline: 0
}

.plyr audio,
.plyr video {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: inherit
}

.plyr input[type=range] {
    display: block;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: none;
    background: 0 0
}

.plyr input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none
}

.plyr input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    position: relative;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    -webkit-transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease, -webkit-transform .2s ease;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.plyr input[type=range]::-moz-range-track {
    height: 8px;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -moz-user-select: none;
    user-select: none
}

.plyr input[type=range]::-moz-range-thumb {
    position: relative;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    -webkit-transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease, -webkit-transform .2s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
    box-sizing: border-box
}

.plyr input[type=range]::-ms-track {
    height: 8px;
    background: 0 0;
    border: 0;
    color: transparent
}

.plyr input[type=range]::-ms-fill-upper {
    height: 8px;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none
}

.plyr input[type=range]::-ms-fill-lower {
    height: 8px;
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
    background: #3498db
}

.plyr input[type=range]::-ms-thumb {
    position: relative;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    -webkit-transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, -webkit-transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease;
    transition: background .2s ease, border .2s ease, transform .2s ease, -webkit-transform .2s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    margin-top: 0
}

.plyr input[type=range]::-ms-tooltip {
    display: none
}

.plyr input[type=range]:focus {
    outline: 0
}

.plyr input[type=range]::-moz-focus-outer {
    border: 0
}

.plyr input[type=range].tab-focus:focus {
    outline-offset: 3px
}

.plyr input[type=range]:active::-webkit-slider-thumb {
    background: #3498db;
    border-color: #fff;
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.plyr input[type=range]:active::-moz-range-thumb {
    background: #3498db;
    border-color: #fff;
    transform: scale(1.25)
}

.plyr input[type=range]:active::-ms-thumb {
    background: #3498db;
    border-color: #fff;
    transform: scale(1.25)
}

.plyr--video input[type=range].tab-focus:focus {
    outline: 1px dotted rgba(255, 255, 255, .5)
}

.plyr--audio input[type=range].tab-focus:focus {
    outline: 1px dotted rgba(86, 93, 100, .5)
}

.plyr__sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute!important;
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important
}

.plyr__video-wrapper {
    position: relative;
    background: #000;
    border-radius: inherit
}

.plyr__video-embed {
    padding-bottom: 56.25%;
    height: 0;
    border-radius: inherit;
    overflow: hidden;
    z-index: 0
}

.plyr__video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.plyr__video-embed>div {
    position: relative;
    padding-bottom: 200%;
    -webkit-transform: translateY(-35.95%);
    transform: translateY(-35.95%)
}

.plyr .plyr__video-embed iframe {
    pointer-events: none
}

.plyr video::-webkit-media-text-track-container {
    display: none
}

.plyr__captions {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 400
}

.plyr__captions span {
    border-radius: 2px;
    padding: 3px 10px;
    background: rgba(0, 0, 0, .7);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 150%
}

.plyr__captions span:empty {
    display: none
}

@media (min-width:768px) {
    .plyr__captions {
        font-size: 24px
    }
}

.plyr--captions-active .plyr__captions {
    display: block
}

.plyr--hide-controls .plyr__captions {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
}

@media (min-width:1024px) {
    .plyr--fullscreen-active .plyr__captions {
        font-size: 32px
    }
}

.plyr ::-webkit-media-controls {
    display: none
}

.plyr__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    text-align: center;
    pointer-events: none
}

.plyr__controls>* {
    pointer-events: all
}

.plyr__controls .plyr__progress,
.plyr__controls .plyr__time,
.plyr__controls>button {
    margin-left: 5px
}

.plyr__controls .plyr__progress:first-child,
.plyr__controls .plyr__time:first-child,
.plyr__controls>button:first-child {
    margin-left: 0
}

.plyr__controls .plyr__volume {
    margin-left: 5px
}

.plyr__controls [data-plyr=pause] {
    margin-left: 0
}

.plyr__controls button {
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: visible;
    vertical-align: middle;
    padding: 7px;
    border: 0;
    background: 0 0;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
    color: inherit
}

.plyr__controls button svg {
    width: 18px;
    height: 18px;
    display: block;
    fill: currentColor
}

.plyr__controls button:focus {
    outline: 0
}

.plyr__controls .icon--captions-on,
.plyr__controls .icon--exit-fullscreen,
.plyr__controls .icon--muted {
    display: none
}

@media (min-width:480px) {
    .plyr__controls .plyr__progress,
    .plyr__controls .plyr__time,
    .plyr__controls>button {
        margin-left: 10px
    }
}

.plyr--hide-controls .plyr__controls {
    opacity: 0;
    pointer-events: none
}

.plyr--video .plyr__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 50px 10px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: #fff;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.plyr--video .plyr__controls button.tab-focus:focus,
.plyr--video .plyr__controls button:hover {
    background: #3498db;
    color: #fff
}

.plyr--audio .plyr__controls {
    padding: 10px;
    border-radius: inherit;
    background: #fff;
    border: 1px solid #dbe3e8;
    color: #565d64
}

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover {
    background: #3498db;
    color: #fff
}

.plyr__play-large {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #3498db;
    border: 4px solid currentColor;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.plyr__play-large svg {
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    display: block;
    fill: currentColor
}

.plyr__play-large:focus {
    outline: 1px dotted rgba(255, 255, 255, .5)
}

.plyr .plyr__play-large {
    display: inline-block
}

.plyr--audio .plyr__play-large {
    display: none
}

.plyr--playing .plyr__play-large {
    opacity: 0;
    visibility: hidden
}

.plyr--playing .plyr__controls [data-plyr=play],
.plyr__controls [data-plyr=pause] {
    display: none
}

.plyr--playing .plyr__controls [data-plyr=pause] {
    display: inline-block
}

.plyr--captions-active .plyr__controls .icon--captions-on,
.plyr--fullscreen-active .icon--exit-fullscreen,
.plyr--muted .plyr__controls .icon--muted {
    display: block
}

.plyr--captions-active .plyr__controls .icon--captions-on+svg,
.plyr--fullscreen-active .icon--exit-fullscreen+svg,
.plyr--muted .plyr__controls .icon--muted+svg {
    display: none
}

.plyr [data-plyr=captions],
.plyr [data-plyr=fullscreen] {
    display: none
}

.plyr--captions-enabled [data-plyr=captions],
.plyr--fullscreen-enabled [data-plyr=fullscreen] {
    display: inline-block
}

.plyr__tooltip {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    margin-bottom: 10px;
    padding: 5px 7.5px;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    -webkit-transform: translate(-50%, 10px) scale(.8);
    transform: translate(-50%, 10px) scale(.8);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease, -webkit-transform .2s .1s ease
}

.plyr__tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -4px;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, .7);
    border-left: 4px solid transparent;
    z-index: 2
}

.plyr button.tab-focus:focus .plyr__tooltip,
.plyr button:hover .plyr__tooltip,
.plyr__tooltip--visible {
    opacity: 1;
    -webkit-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1)
}

.plyr button:hover .plyr__tooltip {
    z-index: 3
}

.plyr__controls button:first-child .plyr__tooltip {
    left: 0;
    -webkit-transform: translate(0, 10px) scale(.8);
    transform: translate(0, 10px) scale(.8);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%
}

.plyr__controls button:first-child .plyr__tooltip::before {
    left: 16px
}

.plyr__controls button:last-child .plyr__tooltip {
    right: 0;
    -webkit-transform: translate(0, 10px) scale(.8);
    transform: translate(0, 10px) scale(.8);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.plyr__controls button:last-child .plyr__tooltip::before {
    left: auto;
    right: 16px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.plyr__controls button:first-child .plyr__tooltip--visible,
.plyr__controls button:first-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:first-child:hover .plyr__tooltip,
.plyr__controls button:last-child .plyr__tooltip--visible,
.plyr__controls button:last-child.tab-focus:focus .plyr__tooltip,
.plyr__controls button:last-child:hover .plyr__tooltip {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1)
}

.plyr__progress {
    position: relative;
    display: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.plyr__progress input[type=range] {
    position: relative;
    z-index: 2
}

.plyr__progress input[type=range]::-webkit-slider-runnable-track {
    background: 0 0
}

.plyr__progress input[type=range]::-moz-range-track {
    background: 0 0
}

.plyr__progress input[type=range]::-ms-fill-upper {
    background: 0 0
}

.plyr__progress .plyr__tooltip {
    left: 0
}

.plyr .plyr__progress {
    display: inline-block
}

.plyr__progress--buffer,
.plyr__progress--played,
.plyr__volume--display {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin: -4px 0 0;
    padding: 0;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 100px
}

.plyr__progress--buffer::-webkit-progress-bar,
.plyr__progress--played::-webkit-progress-bar,
.plyr__volume--display::-webkit-progress-bar {
    background: 0 0
}

.plyr__progress--buffer::-webkit-progress-value,
.plyr__progress--played::-webkit-progress-value,
.plyr__volume--display::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 8px
}

.plyr__progress--buffer::-moz-progress-bar,
.plyr__progress--played::-moz-progress-bar,
.plyr__volume--display::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 8px
}

.plyr__progress--buffer::-ms-fill,
.plyr__progress--played::-ms-fill,
.plyr__volume--display::-ms-fill {
    border-radius: 100px
}

.plyr__progress--played,
.plyr__volume--display {
    z-index: 1;
    color: #3498db;
    background: 0 0;
    -webkit-transition: none;
    transition: none
}

.plyr__progress--played::-webkit-progress-value,
.plyr__volume--display::-webkit-progress-value {
    min-width: 8px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: none;
    transition: none
}

.plyr__progress--played::-moz-progress-bar,
.plyr__volume--display::-moz-progress-bar {
    min-width: 8px;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: none;
    transition: none
}

.plyr__progress--played::-ms-fill,
.plyr__volume--display::-ms-fill {
    display: none
}

.plyr__progress--buffer::-webkit-progress-value {
    -webkit-transition: width .2s ease;
    transition: width .2s ease
}

.plyr__progress--buffer::-moz-progress-bar {
    -webkit-transition: width .2s ease;
    transition: width .2s ease
}

.plyr__progress--buffer::-ms-fill {
    -webkit-transition: width .2s ease;
    transition: width .2s ease
}

.plyr--video .plyr__progress--buffer,
.plyr--video .plyr__volume--display {
    background: rgba(255, 255, 255, .25)
}

.plyr--video .plyr__progress--buffer {
    color: rgba(255, 255, 255, .25)
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
    background: rgba(198, 214, 219, .66)
}

.plyr--audio .plyr__progress--buffer {
    color: rgba(198, 214, 219, .66)
}

.plyr--loading .plyr__progress--buffer {
    -webkit-animation: plyr-progress 1s linear infinite;
    animation: plyr-progress 1s linear infinite;
    background-size: 25px 25px;
    background-repeat: repeat-x;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, .15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .15) 75%, transparent 75%, transparent);
    color: transparent
}

.plyr--video.plyr--loading .plyr__progress--buffer {
    background-color: rgba(255, 255, 255, .25)
}

.plyr--audio.plyr--loading .plyr__progress--buffer {
    background-color: rgba(198, 214, 219, .66)
}

.plyr__time {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px
}

.plyr__time+.plyr__time {
    display: none
}

@media (min-width:768px) {
    .plyr__time+.plyr__time {
        display: inline-block
    }
}

.plyr__time+.plyr__time::before {
    content: '\2044';
    margin-right: 10px
}

.plyr__volume {
    display: none
}

.plyr .plyr__volume {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

.plyr .plyr__volume input[type=range] {
    position: relative;
    z-index: 2
}

@media (min-width:480px) {
    .plyr .plyr__volume {
        display: block;
        max-width: 60px
    }
}

@media (min-width:768px) {
    .plyr .plyr__volume {
        max-width: 100px
    }
}

.plyr--is-ios .plyr__volume,
.plyr--is-ios [data-plyr=mute] {
    display: none!important
}

.plyr--fullscreen-active {
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 0!important
}

.plyr--fullscreen-active video {
    height: 100%
}

.plyr--fullscreen-active .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr--fullscreen-active .plyr__video-embed {
    overflow: visible
}

.plyr--fullscreen-active.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.plyr--fullscreen-fallback.plyr--fullscreen-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000
}

.plyr__tooltip {
    margin-bottom: -5px;
}

.plyr--ready video {
    max-width: 100%;
}
.medias{
    max-width: 600px;
}
/**考试端的js**/
    .question.result {
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
        border: 1px solid #ccc;
    }
    .question-analysis {
        padding: 12px;
        font-size: 14px;
        border-left: 5px solid #009aff;
    }
    .wrong-questions-list-title {
        color: #f00;
    }

    .question-content {
        margin-left: 50px;
    }

    .question-option-list ul,
    .question-option-list ol {
        margin: 0;
        padding-left: 20px;
    }

    .question-option-list {
        margin-top: 10px;
    }

    .question-option-list ol {
        list-style-type: upper-latin;
    }

    .question-option-list li {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .question-option-list li:last-child {
        margin-bottom: 0;
    }
    .question-option-list ul.fillinblank li{
        list-style-type: decimal;
    }
    .ques-qa-answers .rightAnswer,
    .ques-qa-answers .essay-userAnswer,
    .ques-qa-answers .score {
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
    }
    .ques-box {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ques-title {
        position: relative;
        padding-right: 85px;
        font-size: 17px;
        vertical-align: middle;
        line-height: 1.6em;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        word-break: break-word;
    }
    p.ques-title img{
        vertical-align: top;
    }
    .ques-number {
        font-size: 14px;
        color: #fff;
        border-radius: 2px;
        padding: 1px 1px 1px 7px;
        margin-right: 3px;
        border: solid 1px #36aafd;
    }

    .ques-score {
        position: absolute;
        top: 4px;
        right: 50px;
        color: #000;
    }

    .ques-type {
        font-size: 12px;
        border: 1px solid;
        border-radius: 2px;
        padding: 2px;
        vertical-align: middle;
    }

    .ques-single {
        color: #009aff;
        border-color: #009aff;
    }

    .ques-multiple {
        color: #80b830;
        border-color: #80b830;
    }

    .ques-uncertainty {
        color: #006600;
        border-color: #006600;
    }

    .ques-fillblank {
        color: #ffb026;
        border-color: #ffb026;
    }

    .ques-boolean {
        color: #ec4444;
        border-color: #ec4444;
    }

    .ques-qa {
        color: #bf7dcd;
        border-color: #bf7dcd;
    }

    .ques-answers {
        padding-top: 15px;
    }
    .ques-fb-answers .rightAnswer,
    .ques-fb-answers .userAnswer,
    .ques-fb-answers .score {
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
    }
    header div.ques-btn {
        float: left;
    }
    .ques-details {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        right: -100%;
        background-color: #f2f5f9;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: margin-right .3s ease;
        -webkit-overflow-scrolling: touch;
    }
    .ques-details p.no-items {
        text-align: center;
        margin-top: 20%;
    }

    .ques-details .title-bar{
        background-color: #36aafd;
        color: white;
        padding-top: 15px;
        width: 100%;
        z-index: 900;
        font-size: 18px;
    }

    .ques-details #back-result {
        padding: 18px;
        position: absolute;
        top: 0px;
    }

    .ques-details .wrong-right-tab {
        background-color: white;
        margin-top: 15px;
    }

    .ques-details .badge {
        background-color: #36aafd;
    }

    .ques-details a[href="#falseques"] .badge {
        background-color: #f76464;
    }

    .ques-details .content {
        margin-top: 110px;
    }
    .package-child-question span.ques-number {
        background: none;
        padding: 2px;
    }

    .package-child-question span.ques-score {
        right: -9px;
    }
    .have-bg.desktop .ques-number,
    .have-bg.desktop .ques-single,
    .have-bg.tablet .ques-number,
    .have-bg.tablet .ques-single {
        color: #fff;
        border-color: #fff;
    }
    .have-bg.mobile .ques-single, .have-bg.mobile .ques-number{
        color: #fff;
        border-color: #fff;
    }
    .have-bg.mobile .m-result-details .ques-single, .have-bg.mobile .m-result-details .ques-number{
        color: #009aff;
        border-color: #009aff;
    }
    ul.clear-list-style {
        list-style: none;
        padding: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
    }
    .btn-option {
        width: 100%;
        font-size: 16px;
        white-space: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        border-color: #eaeaea;
        text-align: left;
        margin-bottom: 10px;
    }

    .btn-option:hover,
    .btn-option:active,
    .btn-option:focus,
    .btn-option:active:hover,
    .btn-option:active:focus {
        background-color: white;
        /* border-color: #009aff; */
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .btn-option-selected {
        border: 2px solid #009aff;
        padding: 9px 11px;
    }

    .option-list .btn-option i {
        margin-right: 10px;
        font-size: 18px;
        color:#aaa;
    }

    .option-list .btn-option-selected i {
        color: #009aff;
    }
    .option-list .btn-option i {
        margin-right: 10px;
        font-size: 18px;
        color: #aaa;
    }
    /**问答题拍照录音**/
    .essay-media-upload{
        width: 290px;
        height: 100px;
        padding: 20px;
        margin: 0 auto;
    }
    .essay-media-upload span{
        text-align: center;
        cursor: pointer;
    }
    .essay-media-upload span img{
        pointer-events:none;
        -webkit-pointer-events:none;
        -ms-pointer-events:none;
        -moz-pointer-events:none;
    }
    .image-upload{
        position: relative;
        float: left;
        width: 40px;
    }
    .image-upload>img,.audio-upload>img{
        width: 40px;
        height: 40px;
    }
    .image-upload input{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .audio-upload{
        position: relative;
        float: right;
        width: 40px;
    }
    .media-overflow{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.74);
        z-index: 1001;
    }
    .specialImg{
        position: fixed;
        width:100%;
        height: 100%;
        max-width: 850px;
        top: 140px;
        left: 50%;
        margin-left: -425px;
        padding-top: 50px;
        text-align: center;
        z-index: 1001;
    }
    .specialImg span.specialImgClose{
        position: absolute;
        right: -10px;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, .15);
        cursor: pointer;
    }
    .specialImg > span.veo-L{
        display: block;
        position: absolute;
        width: 50px;
        left: 0;
        bottom: 175px;
        cursor: pointer;
    }
    .specialImg > span.veo-R{
        display: block;
        position: absolute;
        width: 50px;
        right: 0;
        bottom: 175px;
        cursor: pointer;
    }
    .specialImg > span.veo-M{
        display: block;
        position: absolute;
        width: 100px;
        left: 50%;
        bottom: 175px;
        margin-left: -50px;
        cursor: pointer;
    }
    .specialImg > span.veo-M > i{
        margin-left: 15px;
    }
    .specialImg i{
        color: #fff;
    }
    .specialImg img{
        /* width: 98%; */
        max-width: 700px;
        max-height: 600px;
    }
    .image-preview{
        overflow: hidden;
    }
    .img-cell{
        display: block;
        position: relative;
        float: left;
        cursor: pointer;
        margin: 11px 35px 0 0;
    }
    .img-cell img{
        width: 60px;
        height: 60px;
        border: 1px solid rgba(0, 0, 0, .24);
    }
    .img-cell i{
        position: absolute;
        right: -21px;
        top: -8px;
        padding: 2px 3.7px;
        border-radius: 9px;
        color: #fff;
        background-color: #FF7B29;
    }
    .audio-Preview{
        margin-top: 20px;
    }
    .audio-Preview .preview-audio-close{
        position: absolute;
        right: 2px;
        top: 0;
        padding: 2px 3.7px;
        margin-top: 12px;
        border-radius: 9px;
        color: #fff;
        background-color: #FF7B29;
        cursor: pointer;
    }
    .audio-Preview audio{
        float: left;
    }
    .audio-cell{
        position: relative;
        width: 340px;
        height: 45px;
        margin-top: 10px;
        overflow: hidden;
        /* margin: 10px auto; */
        border: 1px solid #e0e0e0;
        background-color: #fcfcfc;
    }
    .audio-cell-ie{
        width: 485px;
        border: none;
        background-color: #fff;
    }
    /* audio::-webkit-media-controls {overflow: hidden !important}
    audio::-webkit-media-controls-enclosure {width: calc(100% + 100px);margin-left: auto;} */
    .audio-action{
        position: relative;
        margin-top: 60px;
        padding: 0 45px;
        overflow: hidden;
        height: 80px;
    }
    .audio-action a{
        display: block;
        float: left;
        width: 46px;
        height: 46px;
        line-height: 46px;
        margin-top: 25px;
        border:1px solid #d0d0d0;
        border-radius: 23px;
        text-align: center;
        color: #000;
        text-decoration: none;
    }
    .audio-action a:first-child{
        float: left;
    }
    .audio-action a:last-child{
        float: right;
    }
    .audio-action a.audio-main{
        position: absolute;
        top: 0;
        left: 50%;
        width: 76px;
        height: 76px;
        margin-top: 0px;
        margin-left: -38px;
        border-radius: 38px;
        cursor: pointer;
    }
    .audio-off{
        display: block;
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        background-color: #3278eB;
    }
    .audio-on{
        display: block;
        position: absolute;
        left: 26px;
        bottom: 20px;
        width: 36px;
        height: 36px;
        border-radius: 3px;
        background-color: #fff;
        border-left: 27px solid #3278eB;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
    }
    .Audioing{
        position: fixed;
        left: 50%;
        bottom: 50%;
        width: 400px;
        height: 180px;
        margin: -90px 0 0 -200px;
        z-index: 1003;
        text-align: center;
        background-color: #fff;
    }
    #recorderApp{
        position: fixed;
        left: 50%;
        bottom: 50%;
        margin: -70px 0 0 -120px;
        z-index: 1004;
    }
    .Audioing > span.audio-close{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        cursor: pointer;
        z-index: 1002;
    }
    .audioHead{
        position: absolute;
        width: 320px;
        height: 55px;
        top: 0;
        left: 50%;
        margin-left: -160px;
    }
    .Audioing p.top{
        position: absolute;
        width: 90px;
        top: 20px;
        left: 50%;
        margin-left: -45px;
        text-align: center;
    }
    .Audioing p.audioErrMsg{
        position: absolute;
        width: 120px;
        bottom: 5px;
        left: 50%;
        margin-left: -60px;
        text-align: center;
        color: #f00;
        font-size: 12px;
    }
    .Audioing span.startAudio{
        display: block;
        height: 85px;
        width: 85px;
        margin: 60px auto 0 auto;
    }
    .Audioing span.startAudio img{
        width: 85px;
        pointer-events:none;
        -webkit-pointer-events:none;
        -ms-pointer-events:none;
        -moz-pointer-events:none;
    }
    .mediaLoading{
        position: absolute;
        width: 100px;
        top: 50%;
        left: 50%;
        margin: -21px 0 0 -50px;
        text-align: center;
        z-index: 1001;
    }


    /**录音动态效果**/
    .audioStyle{
        position: relative;
        top: 33px;
        left: 70px;
    }
    .as2{
        left: 195px;
    }

    .action-audio-off span{
        display:block;
        bottom:0px;
        width: 6px;
        height: 5px;
        background:#9b59b6;
        position:absolute;
        -webkit-animation: preloader_1 2s infinite ease-in-out;
        -moz-animation: preloader_1 2s infinite ease-in-out;
        -ms-animation: preloader_1 2s infinite ease-in-out;
        animation: preloader_1 2s infinite ease-in-out;
    }
    .action-audio-on span{
        display:block;
        bottom:0px;
        width: 6px;
        height: 5px;
        background:#9b59b6;
        position:absolute;
    }

    .action-audio-off span:nth-child(2){
        left:11px;
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -ms-animation-delay: .2s;
        -o-animation-delay: .2s;
        animation-delay: .2s;
    }
    .action-audio-on span:nth-child(2){
        left:11px;
    }

    .action-audio-off span:nth-child(3){
        left:22px;
        -webkit-animation-delay: .4s;
        -moz-animation-delay: .4s;
        -ms-animation-delay: .4s;
        -o-animation-delay: .4s;
        animation-delay: .4s;
    }
    .action-audio-on span:nth-child(3){
        left:22px;
    }

    .action-audio-off span:nth-child(4){
        left:33px;
        -webkit-animation-delay: .6s;
        -moz-animation-delay: .6s;
        -ms-animation-delay: .6s;
        -o-animation-delay: .6s;
        animation-delay: .6s;
    }
    .action-audio-on span:nth-child(4){
        left:33px;
    }

    .action-audio-off span:nth-child(5){
        left:44px;
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        -ms-animation-delay: .8s;
        -o-animation-delay: .8s;
        animation-delay: .8s;
    }
    .action-audio-on span:nth-child(5){
        left:44px;
    }

    @-webkit-keyframes preloader_1 {
        0% {height:5px;-webkit-transform:translateY(0px);background:#9b59b6;}
        25% {height:30px;-webkit-transform:translateY(15px);background:#3498db;}
        50% {height:5px;-webkit-transform:translateY(0px);background:#9b59b6;}
        100% {height:5px;-webkit-transform:translateY(0px);background:#9b59b6;}
    }

    @-moz-keyframes preloader_1 {
        0% {height:5px;-moz-transform:translateY(0px);background:#9b59b6;}
        25% {height:30px;-moz-transform:translateY(15px);background:#3498db;}
        50% {height:5px;-moz-transform:translateY(0px);background:#9b59b6;}
        100% {height:5px;-moz-transform:translateY(0px);background:#9b59b6;}
    }

    @-ms-keyframes preloader_1 {
        0% {height:5px;-ms-transform:translateY(0px);background:#9b59b6;}
        25% {height:30px;-ms-transform:translateY(15px);background:#3498db;}
        50% {height:5px;-ms-transform:translateY(0px);background:#9b59b6;}
        100% {height:5px;-ms-transform:translateY(0px);background:#9b59b6;}
    }

    @keyframes preloader_1{
        0%{height: 5px;transform:translateY(0px);background:#9b59b6;}
        25%{height: 30px;transform:translateY(15px);background:#3498db;}
        50%{height: 5px;transform:translateY(0px);background:#9b59b6;}
        100%{height: 5px;transform:translateY(0px);background:#9b59b6;}
    }
    /**录音动态效果**/
    /**音频控件**/
    .audio-left {
        float: left;
        text-align: center;
        width: 15%;
        height: 100%;
    }
    .audio-left i{
        color: #36aafd;
        margin-top: 16px;
    }
    .audio-right {
        margin-right: 12%;
        float: right;
        width: 70%;
        height: 100%;
    }
    .progress-bar-bg {
        position: relative;
        height: 2px;
        margin-top: 20px;
        background-color: #d9d9d9;
        cursor: pointer;
    }

    .essay-progress-bar {
        background-color: #649fec;
        width: 0;
        height: 2px;
    }

    .progress-bar-bg span {
        content: " ";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: #3e87e8;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px;
        cursor: pointer;
    }

    .audio-time {
        overflow: hidden;
        margin-top: 5px;
    }

    .audio-length-total {
        float: right;
        font-size: 12px;
    }

    .audio-length-current {
        float: left;
        font-size: 12px;
    }
    /**音频控件**/

    /**结果页面显示媒体文件**/
    .essayAsImg, .essayAsAudio{
        overflow: hidden;
        margin-bottom: 15px;
    }
    .essayAsImg a.img-show{
        display: block;
        width: 120px;
        float: left;
        margin: 0 10px 10px 0;
        border: 1px solid #5a6676;
        padding: 5px;
    }
    .essayAsImg a.img-show img{
        width: 110px;
        height: 90px;
        margin: 0;
    }
    .essay > .userAnswer{
        width: 100% !important;
    }
    .audio-item{
        margin-top: 10px;
    }
    .vr-essay-overview{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 60px;
        background: #000;
        background-color: rgba(0,0,0,.6);
        z-index: 1001;
        text-align: center;
    }
    .vr-essay-overview > img{
        max-width: 600px !important;
        max-height: 600px !important;
    }
    .vr-essay-overview > span.veo-L{
        display: block;
        position: absolute;
        width: 50px;
        left: 0;
        bottom: 15px;
    }
    .vr-essay-overview > span.veo-R{
        display: block;
        position: absolute;
        width: 50px;
        right: 0;
        bottom: 15px;
    }
    .vr-essay-overview > span.veo-M{
        display: block;
        position: absolute;
        width: 100px;
        left: 50%;
        bottom: 15px;
        margin-left: -50px;
    }

    .vr-essay-overview > span i{
        cursor: pointer;
        color: #fff;
    }
    .vr-essay-overview > span.veo-M i{
        margin-left: 15px;
    }
    .vr-essay-overview > i{
        position: absolute;
        top: 70px;
        right: 55px;
        cursor: pointer;
        color: #fff;
    }
    /**结果页面显示媒体文件**/
    @media (max-width: 767px) {
        .Audioing{
            left: 0;
            bottom: 0;
            width: 100%;
            height: 180px;
            margin: 0;
        }
        .audio-Preview audio{
            width: 80%;
        }
        .audio-cell{
            width: 260px;
        }
        .audio-Preview .preview-audio-close{
            top: 0;
        }
        .specialImg{
            top: 0;
            left: 0;
            padding-top: 55px;
        }
        .specialImg > span.veo-L{
            bottom: 15px;
        }
        .specialImg > span.veo-R{
            bottom: 15px;
        }
        .specialImg > span.veo-M{
            bottom: 15px;
        }
        .specialImg img {
            max-height: 400px;
            max-width: 95%;
        }
        .specialImg span.specialImgClose{
            top: 10px;
            right: 10px;
        }
        .essay-media-upload{
            width: 100%;
        }
        .vr-essay-overview > img{
            max-width: 95% !important;

            /* max-height: 340px !important; */
        }
    }
    .test_result {
        margin-bottom: 14px;
    }

    .test_result .rightAnswer,
    .test_result .userAnswer,
    .test_result .score {
        float: left;
        display: block;
        min-width: 33.33%;
        font-size: 16px;
    }
    .test_result strong {
        color: #36aafd;
    }
    .test_result.fillinblank:after {
        content: " ";
        clear: both;
        display: block;
    }

    .test_result.fillinblank ul {
        margin: 0px;
        padding: 0 0 0 20px;
        list-style-type: decimal;
    }

    .test_result.fillinblank .userAnswer {
        text-align: left;
    }

    .test_result.fillinblank h3 {
        margin: 0 0 10px 0;
        font-size: 16px;
    }

    .test_result.essay .rightAnswer,
    .test_result.essay .userAnswer {
        float: none;
        text-align: left;
    }

    .test_result.essay h3 {
        font-size: 16px;
    }

    .test_result div:first-child.userAnswer {
        text-align:left;
        width: 66%;
    }
    .questions.mobile .test_result strong {
        display: block;
    }

    .questions.mobile .test_result .rightAnswer {
        text-align: left;
    }

    .questions.mobile .test_result .score {
        text-align: right;
    }
    .m-result-details .test_result .rightAnswer {
        text-align: left;
        min-width: 10px;
        width: 30%;
    }

    .m-result-details .test_result .score {
        text-align: right;
        width: 20%;
        float: right;
        min-width: 10px;
    }

    .m-result-details .test_result .userAnswer {
        width: 42%;
        min-width: 10px;
    }
    .result-info-container .test_result .score {
        text-align: right;
        width: 18%;
        float: right;
        min-width: 10px;
    }
    .result-info-container .test_result .rightAnswer, .result-info-container .test_result .userAnswer {
        min-width: 10px;
        width: 40%;
    }
    .test_result:after {
        content: " ";
        display: block;
        clear: both;
    }
    /*渲染试题的详情，包括设置和标签*/
    .row-ques-detail{
        position: relative;
        border: none;
    }
    .detail-dom > a,.row-ques-detail > a{
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        color: #000;
    }
    .pack-label{
        overflow: hidden;
        margin-top: 5px;
    }
    .detail_result{
        margin-bottom: 14px;
    }
    .detail-dom{
        transition: width 0.33s ease;
    }
    .detailAnswer, .detailLabel, .detailKeyWorld{
        margin-bottom: 14px;
        overflow: hidden;
    }
    .detail_result .detailAnswer p{
        font-size: 14px;
        color: #009aff;
    }
    .detail_result .detailKeyWorld p{
        font-size: 16px;
        color: #999;
    }
    .detailLabel span.labels, .pack-label span.labels{
        display: block;
        float: left;
        height: 27px;
        padding: 3px 16px;
        margin-right: 10px;
        border: 1px solid #999;
        border-radius: 15px !important;
        color: #999;
        font-size: 14px;
        cursor: pointer;
    }
    .detailLabel span.labels:hover, .pack-label span.labels:hover{
        background: #999;
        color: #fff;
    }
    .detailLabel span.other, .pack-label span.other{
        padding: 0;
        border: none;
        line-height: 30px;
    }
    .detailLabel span.other:hover, .pack-label span.other:hover{
        background: #fff;
        color: #999;
    }
    .detailSetting{
        margin-bottom: 14px;
    }
    .detail_result .detailSetting ul.settings{
        margin: 0;
        padding: 0;
    }
    .detail_result .detailSetting ul.settings li{
        list-style-type: none;
        color: #999;
    }
    .detail-analysis{
        padding: 0 12px 20px 0;
        border-left: none;
        color: #999;
    }
.need-max-height{
    max-height: 120px;
    overflow: hidden;
}