<!DOCTYPE html>

<html lang="en" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
     <meta http-equiv="Expires" content="0">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <link href="css/layout.css" rel="stylesheet" type="text/css">
  
    
    <title>试卷设置</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
   
   
    <link href="css/layui.css" rel="stylesheet" type="text/css">
   
    <link href="css/awesome-bootstrap-checkbox.min.css" rel="stylesheet" type="text/css">
      
    <link href="css/examSetting.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <script src='js/jquery.min.js'></script>
    <script src='js/vue.js'></script>
    <script src='js/bootstrap-datetimepicker.js'></script>
    <script src='js/bootstrap-datetimepicker.js'></script>
    <script src='js/bootstrap-datetimepicker.zh-CN.js'></script>
    
    
    <style>
        .page-content-wrapper .page-content{
            margin-left:0px
        }
    </style>
       <style  type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>

   
</head>

<body>
    

    <div class="page-container ">

        <div class="page-content-wrapper">
            <div class="page-content " style="min-height:922px">

             
                    
                <div class="row " id='app' v-cloak style="background-color: #F3F4F8;">
                    
                    <div class="col-md-12" style="padding-left: 0;background-color: white;marign-left: 20px;marign-top: 20px;">
                        <div class="col-md-10 clearfix" style="padding-left: 0;overflow-y: hidden">

                            <!--左侧菜单栏-->
                            <div class="col-md-3 left-menu-container" style="padding-left: 0px; width: 280px; position: fixed; z-index: 1; height: 941px;">
                                <div class="list-box-title ps ps--theme_default" data-ps-id="35737eb6-0ec0-1fa9-333f-26574abe12c7" style="max-height: 861px; overflow: hidden;">
                                    <ul id="list_items">
                                        <!--试卷权限-->
                                        <li data-value="0" data-name="permission" class="list-checked-active">
                                            <img class="icon-show" src="images/step3_pemissions.png" style="margin-right: 10px;">
                                            <span class="menu-li-title-text">
                                                试卷权限 </span>
                                        </li>
                                        
                                        <div class="list-checked-active-items">
                                            <p data-value="idPeriodOfValidity">有效期限</p>
                                            <p data-value="idAttempts">答卷次数</p>
                                            <p data-value="idTakenTime">答题时间控制</p>
                                        </div>
                                    </ul>
                                   
                                </div>
                            </div>
                             <!--中间部分-->

                            <div style="float: left;width:100%;border-right: 10px solid #F3F4F8;border-left: 242px solid #F3F4F8">
                                <div class="list-box">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                            <div id="exam-form" >
                                                <div data-li-nav="permission" class="item_box">
                                                    <div class="clearfix nex-line-margin"></div>

                                                    <!--试卷开放时间-->
                                                    <div class="settings-box">
                                                        <!--蓝色方块-->
                                                        <div style="margin-bottom: 20px;">
                                                            <div class="blue-div"></div>
                                                            <p id="idPeriodOfValidity" class="blue-div-p">有效期限</p>
                                                        </div>

                                                        <div style="position:relative;">

                                                            <div>
                                                                <span class="form-field-title no-input" style="">当前：</span>

                                                                <div class="form-check abc-radio abc-radio-primary" style="">
                                                                    <!--限定时间-->
                                                                    <div>
                                                                        <input class="form-check-input radio-align-middle" type="radio" id="availabel" name="availabel"  v-model='exam.isForever' value="false"
                                                                            data="1">
                                                                        <label for="availabel" class="fontStyle radio-align-middle">试卷开放时间</label>
                                                                    </div>
                                                                    <div style="margin-top: 10px" class="clearheight5"></div>
                                                                    <!--永久-->
                                                                    <div>
                                                                        <input style="margin-left: 67px" class="form-check-input radio-align-middle" type="radio" id="forever" name="availabel" v-model='exam.isForever' value="true"
                                                                            data="2">
                                                                        <label for="forever" class="fontStyle radio-align-middle">永久有效</label>
                                                                    </div>
                                                                    <div style="margin-top: 10px" class="clearheight5"></div>
                                                                    <!--不可用-->
                                                                   
                                                                </div>
                                                            </div>
                                                            <div>
                                                            </div>


                                                            <!--限定时间选择-->
                                                            <div id="availabel-time-settings" v-show="exam.isForever==false||exam.isForever=='false'">
                                                                <div class="field-group ">
                                                                    <div class="input-group " style='overflow: hidden;' >
                                                                            <input  class="form-control blue-border" id='time1' style="width: 160px;"  >
                                                                            <div style="float: left;display: inline-block;height: 34px;
                                                                            line-height: 34px;margin:0 10px">至</div>
                                                                            <input class="form-control blue-border" id='time2' style="width: 160px;" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix nex-line-margin"></div>

                                                    <!--答题次数-->
                                                    <div class="settings-box">
                                                        <!--蓝色方块-->
                                                        <div style="margin-bottom: 20px;">
                                                            <div class="blue-div"></div>
                                                            <p id="idAttempts" class="blue-div-p">
                                                                答卷次数 </p>
                                                        </div>
                                                        <div>
                                                            <div class="form-check abc-radio abc-radio-primary">
                                                              

                                                               
                                                                <div class="clearheight5"></div>
                                                                <div class="clearheight5"></div>

                                                                <!--多次-->
                                                                <div>
                                                                    <input class="tab_20 form-check-input radio-align-middle" type="radio" name="attempts"  id="num_attempts" value='false' v-model='exam.isUnlimited'>
                                                                    <label for="num_attempts" class="fontStyle radio-align-middle">
                                                                        考试次数： </label>
                                                                    <span v-show="exam.isUnlimited==false||exam.isUnlimited=='false'"><input  type="text" class="blue-border" name="attempts_allowed" size="3" style="width: 50px;margin-top: -5px;height: 26px;padding: 0 5px;"
                                                                        value="1" v-model='exam.sumNumber' id="num_attempts_count" maxlength="3"> 次</span>
                                                                    <label id="retainScoresLabel" for="num_attempts" class="fontStyle">
                                                                        <!--                                                            <span class="hint">-->
                                                                        <!--</span>-->
                                                                    </label>
                                                                </div>
                                                                <div class="clearheight5"></div>
                                                                <div class="clearheight5" ></div>
                                                                 <!--多次-->
                                                                 <div>
                                                                        <input class="tab_20 form-check-input radio-align-middle" type="radio" value='true' v-model='exam.isUnlimited'  id="num_attempts" >
                                                                        <label for="num_attempts" class="fontStyle radio-align-middle">
                                                                            无限次 </label>
                                                                        
                                                                        <label id="retainScoresLabel" for="num_attempts" class="fontStyle">
                                                                            <!--                                                            <span class="hint">-->
                                                                            <!--</span>-->
                                                                        </label>
                                                                    </div>
                                                                <div class="clearheight5"></div>
                                                                <div class="clearheight5"></div>


                                                            </div>

                                                            <div class="clearheight"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix nex-line-margin"></div>

                                                    <!--考试时间-->
                                                    <div class="one_full settings-box" style="margin-top: 100px;">
                                                        <!--蓝色方块-->
                                                        <div style="margin-bottom: 20px;">
                                                            <div class="blue-div"></div>
                                                            <p id="idTakenTime" class="blue-div-p">答题时间控制</p>
                                                        </div>

                                                        <div style="margin-left: 10px">
                                                            <!--答卷时长-->
                                                            <div class="form-check abc-radio abc-radio-primary">
                                                                <div>
                                                                    <input class="form-check-input radio-align-middle" value="exam" checked="checked" type="radio" name="exam_question_time_limit"
                                                                        id="exam-time-limit">
                                                                    <label for="exam-time-limit" class="fontStyle radio-align-middle">
                                                                        答卷时长： </label>
                                                                    <input id="tl" class="setting-default-input blue-border" v-model='exam.examTime' type="number" name="time_limit" maxlength="3" size="3" value="0">
                                                                    <span>分钟</span>
                                                                    <span class="hint" style="display: none;">
                                                                        （限制考试时间 (留空或设置为0将无时间限制).）
                                                                    </span>
                                                                    <div class="clearheight5"></div>
                                                                    
                                                                    <div class="clearheight5"></div>
                                                                </div>

                                                                <!--单题作答时间-->
                                                                <!-- <div style="margin-top: 10px">
                                                                    <input class="form-check-input radio-align-middle" value="question" type="radio" name="exam_question_time_limit" id="question-time-limit">
                                                                    <label for="question-time-limit" class="fontStyle radio-align-middle">
                                                                        单题作答时间： </label>
                                                                    <input id="ql" class="setting-default-input blue-border" type="number" name="question_limit_time" maxlength="3"
                                                                        size="3" value="">
                                                                    <span>秒</span>
                                                                    <span class="hint" style="margin-left:10px">
                                                                        (勾选后，不可返回修改答案，超时未答，自动跳到下一题。) </span>
                                                                </div> -->
                                                            </div>

                                                            <div class="clearheight5"></div>
                                                            <div class="clearheight5"></div>
                                                          
                                                        </div>
                                                    </div>
                                                    <div class="clearfix nex-line-margin"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                             <!--右侧部分-->
                            <div class="col-md-2 right-box-container" style="float: right;">
                                <div class="right-box">
                                    <div class="right-box-top">
                                        <span class="examInfo_title">试卷名称</span>
                                        <p class="exam_title">《{{exam.title}}》</p>
                                    </div>
                                    <div class="right-box-middle">
                                        <!--保存-->
                                        <a id='finished' href="javascript:;" data-draft="1" class="btn yks-blue btnSave col-md-12 row" style="color:white!important;font-size: 18px;margin-top: 30px;margin-bottom: 10px;">
                                            完成 </a>
                                        <!--保存并发布-->
                                        <!-- <a class="btn yks-blue-default releaseBtn col-md-12 row" style="font-size: 18px;margin: 11px auto;">
                                            保存并发布 </a> -->
                                        <!--预览-->
                                        <!-- <a class="btn yks-blue-default previewBtn col-md-12 row" style="font-size: 18px;margin-bottom: 20px;" href="javascript:void()">
                                            预览 </a> -->


                                    </div>
                                    <div class="right-box-bottom">
                                        <p class="save_default_setting">
                                        </p>
                                        <!-- <div class="form-check abc-checkbox abc-checkbox-primary" style="padding-left: 0px;">
                                            <input type="checkbox" value="1" name="save_as_default"  id="save_as_defaults" >
                                            <label for="save_as_defaults" style='font-weight:normal !important; color: #666666;'>保存当前为默认设置</label>
                                           
                                        </div> -->

                                        <p></p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                


            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        document.write('<script src="/seeyon/adminlayout/common/js/common.js?ver='+Math.random()+'"  type="text/javascript"><\/script>');
     </script>
     <script  type="text/javascript">
         　　version("/seeyon/exammodule/exam-admin/js/examSetting.js")
     </script>   

</body>

</html>