#course-online .course-select{
	min-height: 10px;
}
#course-online .course-select-list{  
	float: left;
	position: relative;
} 
#course-online .course-div .course-select-title{
	height: 31px;
    line-height: 24px;
    border: 1px solid #e5e5e5;
    background: #fff;
    cursor: pointer;
    padding: 2px 30px 0 30px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
#course-online .course-select ul{
	width: 954px;
	overflow: hidden;
	background: #fff; 
	position: absolute;
	left: 0px;
	top:30px;
	z-index: 1;
}
#course-online .course-select .list{
	border: 1px solid #E64C65;
}

#course-online .course-select li{  
	float: left;  
	cursor:pointer;
	padding: 10px;
} 
#course-online .course-select span{
	cursor: pointer;
	padding:2px 4px;
	display: inline-block;
}
#course-online .course-select li span:hover{
	padding:2px 4px;
	color:#fff;
	background: #E64D62;
}
#course-online .display-none{
	display: none;
}
#course-online .course-select li:first-child:before{
	content: "分类 : ";
	display: inline-block;
}
#course-online .border-pink{
	border:1px solid #E64C65 !important; 
}
#course-online .course-select-title-on{
	line-height: 24px; 
	background: #fff;  
	border:1px solid #E64C65;
	border-bottom: #fff;
	height: 31px;
	position: relative;
	z-index: 2;
	cursor: pointer; 
	padding:0 30px;
}
#course-online .arrow-right{
	padding:0 4px;
}
#course-online #course-select-list > div{
	float: left;
}

/*复样式*/
.arrow{
	display: inline-block;
	overflow: hidden;
	line-height: 28px;
}
.sortFrame {
	border-bottom: 0 !important;
    border-color: #e64e65;
    margin-bottom: -3px;
    z-index: 999;
    background: #ffffff;
	position: relative;
}
